<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>WebAppSample</display-name>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>web.app.sample.main.ServletImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>gzip-filter</filter-name>
    <filter-class>org.eclipse.jetty.servlets.IncludableGzipFilter</filter-class>
    <init-param>
      <param-name>mimeTypes</param-name>
      <param-value>text/javascript,application/x-javascript,text/css,text/html,text/xml,application/rss+xml</param-value>
    </init-param>
    <init-param>
      <param-name>uncheckedPrintWriter</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>continuation-filter</filter-name>
    <filter-class>org.eclipse.jetty.continuation.ContinuationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>gzip-filter</filter-name>
    <servlet-name>MainServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>continuation-filter</filter-name>
    <servlet-name>MainServlet</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>uri-filter</filter-name>
    <filter-class>jetbrains.mps.webr.runtime.filter.QueryParameterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>uri-filter</filter-name>
    <servlet-name>MainServlet</servlet-name>
  </filter-mapping>
  <mime-mapping>
    <extension>jnlp</extension>
    <mime-type>application/x-java-jnlp-file</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>rar</extension>
    <mime-type>application/x-rar</mime-type>
  </mime-mapping>
  <listener>
    <listener-class>jetbrains.mps.webr.runtime.session.WebrSessionListener</listener-class>
  </listener>
</web-app>